<div class="container min-vh-100 control">
    <div class="row">
        <a class="col-3 control-box mt-3" href="/admin/users">
            <h3 class="text-center f-white">Пользователи</h3>
            <div class="control-box-img">
                <img src="/images/admin/users.svg" alt="users">
            </div>
        </a>
        <a class="col-4 offset-1 control-box mt-3" href="/admin/courses">
            <h3 class="text-center f-white">Курсы</h3>
            <div class="control-box-img">
                <img src="/images/admin/courses.svg" alt="courses">
            </div>
        </a>
    </div>
</div>