

<!--<footer>-->

<!--    <nav class="navbar navbar-dark navbar-expand-lg">-->
<!--        <div class="container pb-3 pt-3">-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Переключатель навигации">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->
<!--            <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">-->
<!--                <div class="navbar-nav">-->
<!--                    <a class="nav-link mr-2" href="/">Главная</a>-->
<!--                    <a class="nav-link mr-2" href="#">Обо мне</a>-->
<!--                    <a class="nav-link mr-2" href="#">Блог</a>-->
<!--                    {{#unless isAuth}}-->
<!--                        <a class="nav-link" href="/auth/login#login">Авторизация</a>-->
<!--                    {{/unless}}-->
<!--                    {{#if isAuth}}-->
<!--                        <a class="nav-link mr-2" href="/profile">Личный кабинет</a>-->
<!--                        <a class="nav-link" href="/auth/logout">Выйти</a>-->
<!--                    {{/if}}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-12 d-flex flex-column justify-content-center align-items-center">-->
<!--                <p class="f-32 f-white">Все права защищены</p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!--Мобильный футер-->
<footer class="mobile-footer d-sm-none d-block">
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-12 f-white f-16 text-center font-weight-bold mt-1">Контакты</div>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center f-12 f-white font-weight-bold">
                <img class="w-50" src="images/icons/nav-inst.svg" alt="">
                @inst_name
            </a>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center f-12 f-white font-weight-bold">
                <img class="w-50" src="images/icons/nav-whatsup.svg" alt="">
                8-956-765-73-90
            </a>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center justify-content-between f-12 f-white font-weight-bold">
                <img class="w-50" src="images/icons/nav-mail.svg" alt="">
                email@example.ru
            </a>
        </div>
    </div>
</footer>