<footer class="container-fluid contacts pb-3 pt-3 d-none d-sm-block">
    <div class="container">
        <div class="row mt-lg-3 mt-2">
            <div class="col-12"><h2 class="text-center f-32 f-white">Контакты</h2></div>
            <div class="col-lg-4 col-md-5 col-12 mt-xl-0 mt-xl-3 mt-2 order-0">
                <div class="row">
                    <div class="col-md-12 col-sm-6 contacts-phone d-flex align-items-center justify-content-end">
                        <a class="f-20 mx-xl-0 mx-sm-auto" href=""><img class="mr-3" src="/images/icons/phone.svg" alt="" width="25px">8-956-765-73-90</a>
                    </div>
                    <div class="col-md-12 col-sm-6 contacts-phone d-flex align-items-center justify-content-end mt-xl-3 mt-2">
                        <a class="f-20 mx-xl-0 mx-sm-auto" href=""><img class="mr-3" src="/images/icons/phone.svg" alt="" width="25px">8-956-765-73-90</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-2 col-12 mt-xl-3 mt-2 d-flex justify-lg-content-around justify-content-sm-center align-items-center pl-5 pr-5 order-md-1 order-2">
                <a class="mr-lg-3 mr-sm-3" href="">
                    <img src="/images/icons/whatsup.svg" alt="" width="25px">
                </a>
                <a class="ml-lg-3 ml-sm-3" href="">
                    <img src="/images/icons/telegram.svg" alt="" width="25px">
                </a>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12 mt-xl-3 mt-2 order-md-2 order-1">
                <div class="row">
                    <div class="col-md-12 col-sm-6 contacts-mail d-flex align-items-center">
                        <a class="f-20 mx-xl-0 mx-sm-auto main-footer-link" href="">
                            <img class="mr-3" src="/images/icons/mail.svg" alt="" width="25px">email@example.com
                        </a>
                    </div>
                    <div class="col-md-12 col-sm-6 contacts-phone d-flex align-items-center mt-xl-3 mt-2">
                        <a class="f-20 mx-xl-0 mx-sm-auto main-footer-link" href="">
                            <img class="mr-3" src="/images/icons/mail.svg" alt="" width="25px">email@example.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 f-20 f-white d-flex justify-content-center align-items-center mt-xl-3 mt-2 mb-2 order-3">
                <p class="m-0 p-0 h-100">Мой аккаунт в Instagram</p>
                <a class="ml-3 main-footer-link" href="">
                    <img class="mr-2" src="/images/icons/inst.svg" alt="" width="25px">@inst-name
                </a>
            </div>
        </div>
    </div>
</footer>

<!--Мобильный футер-->
<footer class="mobile-footer d-sm-none d-block">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 f-white f-16 text-center font-weight-bold mt-1">Контакты</div>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center f-12 f-white font-weight-bold">
                <img class="w-50" src="/images/icons/nav-inst.svg" alt="">
                @inst_name
            </a>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center f-12 f-white font-weight-bold">
                <img class="w-50" src="/images/icons/nav-whatsup.svg" alt="">
                8-956-765-73-90
            </a>
            <a href="#" class="col-4 mt-2 footer-inst-link d-flex flex-column align-items-center justify-content-between f-12 f-white font-weight-bold">
                <img class="w-50" src="/images/icons/nav-mail.svg" alt="">
                email@example.ru
            </a>
        </div>
    </div>
</footer>