<!--Главная-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="box">
                <div class="f-white ml-3 f-40">Имя Фамилия</div>
                <div class="box-images">
                    <img src="images/trainer.png" alt="trainer">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 box-text">
            <div class="f-white f-40">Заголовок блока</div>
            <div class="f-white f-28">sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare</div>
            <div class="f-white f-28">sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare</div>
            <button class="button">Присоединиться</button>
        </div>
    </div>

    <div class="divider mt-5 mb-5"></div>

    <div class="row">
        <div class="col-12"><h2 class="text-center f-40 f-white mb-5">Почему нужно заниматься</h2></div>
        <div class="col-lg-4">
            <div class="reason-box d-flex flex-column align-items-center p-2">
                <div class="icon mt-3"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
                <div class="reason-box-title f-40 mt-2">Причина 1</div>
                <div class="title-divider"></div>
                <div class="reason-box-description text-center f-24 mt-4">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="reason-box d-flex flex-column align-items-center p-2">
                <div class="icon mt-3"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
                <div class="reason-box-title f-40 mt-2">Причина 1</div>
                <div class="title-divider"></div>
                <div class="reason-box-description text-center f-24 mt-4">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="reason-box d-flex flex-column align-items-center p-2">
                <div class="icon mt-3"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
                <div class="reason-box-title f-40 mt-2">Причина 1</div>
                <div class="title-divider"></div>
                <div class="reason-box-description text-center f-24 mt-4">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
            </div>
        </div>
    </div>

    <div class="row f-white">
        <div class="col-12 f-40 text-center mt-5">Еще немного текста о пользе занятий</div>
        <div class="col-12 f-28 text-center mt-5">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</div>
        <div class="col-12 f-28 text-center mt-5">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</div>
        <div class="col-12 f-28 text-center mt-5">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</div>
        <button class="button mx-auto mt-5">Присоединиться</button>
    </div>

    <div class="divider mt-5 mb-5"></div>

</div>

<div class="container">
    <div class="f-white f-40 text-center mb-5">Результаты подписчиков</div>
    <div class="row">
        <div class="col-12 p-0">
            <div id="carousel2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel2" data-slide-to="1"></li>
                    <li data-target="#carousel2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box mx-auto">
                                            <div class="box-images">
                                                <img src="images/trainer.png" alt="trainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box-images mx-auto">
                                            <img src="images/trainer.png" alt="trainer" class="position-relative">
                                            <div class="box-green position-absolute"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-12">
                                    <div class="row justify-content-center">
                                        <h5 class="f-40 f-white">Имя Фамилия</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 offset-1 d-flex justify-content-end">
                                            <img src="images/icons/left-cov.svg" alt="cov" class="align-self-start">
                                        </div>
                                        <div class="col-8">
                                            <p class="f-28 text-center f-white">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="images/icons/right-cov.svg" alt="cov">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box mx-auto">
                                            <div class="box-images">
                                                <img src="images/trainer.png" alt="trainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box-images mx-auto">
                                            <img src="images/trainer.png" alt="trainer" class="position-relative">
                                            <div class="box-green position-absolute"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-12">
                                    <div class="row justify-content-center">
                                        <h5 class="f-40 f-white">Имя Фамилия</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 offset-1 d-flex justify-content-end">
                                            <img src="images/icons/left-cov.svg" alt="cov" class="align-self-start">
                                        </div>
                                        <div class="col-8">
                                            <p class="f-28 text-center f-white">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="images/icons/right-cov.svg" alt="cov">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box mx-auto">
                                            <div class="box-images">
                                                <img src="images/trainer.png" alt="trainer">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 carousel-results-box">
                                    <div class="carousel-results-img">
                                        <div class="box-images mx-auto">
                                            <img src="images/trainer.png" alt="trainer" class="position-relative">
                                            <div class="box-green position-absolute"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-12">
                                    <div class="row justify-content-center">
                                        <h5 class="f-40 f-white">Имя Фамилия</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-1 offset-1 d-flex justify-content-end">
                                            <img src="images/icons/left-cov.svg" alt="cov" class="align-self-start">
                                        </div>
                                        <div class="col-8">
                                            <p class="f-28 text-center f-white">in fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl vel pretium</p>
                                        </div>
                                        <div class="col-1">
                                            <img src="images/icons/right-cov.svg" alt="cov">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carousel2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="divider mt-5 mb-5"></div>

    <h2 class="f-white text-center f-40 mb-5">О себе</h2>

    <div class="row">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="box">
                <div class="f-white ml-3 f-40">Имя Фамилия</div>
                <div class="box-images">
                    <img src="images/trainer.png" alt="trainer">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 box-text">
            <div class="f-white about-title f-40 pl-3">Заголовок блока</div>
            <div class="f-white f-32">pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare</div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-0 box-text">
            <div class="f-white about-title-green f-40 pl-3">Заголовок блока</div>
            <div class="f-white f-32">pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare</div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 d-flex flex-column align-items-end">
            <div class="box-green">
                <div class="f-white ml-3 f-40">Имя Фамилия</div>
                <div class="box-images">
                    <img src="images/trainer.png" alt="trainer">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="box">
                <div class="f-white ml-3 f-40">Имя Фамилия</div>
                <div class="box-images">
                    <img src="images/trainer.png" alt="trainer">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 box-text">
            <div class="f-white about-title f-40 pl-3">Заголовок блока</div>
            <div class="f-white f-32">pharetra et ultrices neque ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui sapien eget mi proin sed libero enim sed faucibus turpis in eu mi bibendum neque egestas congue quisque egestas diam in arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare</div>
        </div>
    </div>

    <div class="divider mt-5 mb-5"></div>

    <h2 class="f-40 f-white text-center">Заголовок</h2>
    <h3 class="f-26 f-white text-center mt-5">commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec sagittis</h3>

    <div class="row">
        <div class="col-lg-6">
            <div class="card d-flex flex-column align-items-center mx-auto mt-5">
                <div class="card-price f-white f-60 font-weight-bold">10<sup>00</sup> руб.</div>
                <div class="card-price-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <button class="button mt-5">Оформить</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card d-flex flex-column align-items-center mx-auto mt-5">
                <div class="card-price f-white f-60 font-weight-bold">10<sup>00</sup> руб.</div>
                <div class="card-price-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <button class="button mt-5">Оформить</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card d-flex flex-column align-items-center mx-auto mt-5">
                <div class="card-price f-white f-60 font-weight-bold">10<sup>00</sup> руб.</div>
                <div class="card-price-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <button class="button mt-5">Оформить</button>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card d-flex flex-column align-items-center mx-auto mt-5">
                <div class="card-price f-white f-60 font-weight-bold">10<sup>00</sup> руб.</div>
                <div class="card-price-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <div class="card-advantage f-20 f-white mt-4"><span>Преимущества</span> пакета</div>
                <div class="card-advantage-divider"></div>
                <button class="button mt-5">Оформить</button>
            </div>
        </div>
    </div>

    <div class="divider mt-5 mb-5"></div>

    <h2 class="text-center f-40 f-white">Контакты</h2>
    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center mt-3">
            <img src="images/icons/inst.svg" alt="instagram" width="60px">
            <div class="contacts-inst f-32 f-white ml-2">inst_name</div>
        </div>
        <div class="col-12 d-flex justify-content-center align-items-center mt-3">
            <img src="images/icons/mail.svg" alt="email" width="60px">
            <div class="contacts-inst f-32 f-white ml-2">example@mail.ru</div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 col-12 p-0 mt-3">
            <div class="contacts-galery mx-auto">
                <img src="images/inst-galery.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>