<!--Главная-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-0">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="images/runner.jpg" class="d-block img-fluid" alt="runner">
                        <div class="carousel-caption h-100 d-flex justify-content-center flex-column">
                            <h5 class="f-60">Метка второго слайда</h5>
                            <p class="f-40">Некоторый репрезентативный заполнитель для второго слайда.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-6 col-md-12 p-0">
            <div class="box">
                <div class="box-title ml-3 f-40">Имя Фамилия</div>
                <div class="box-images">
                    <img src="images/trainer.png" alt="trainer">
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-0 box-text">
            <div class="box-title f-40">Заголовок блока</div>
            <div class="description f-28">sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare</div>
            <div class="description f-28">sit amet cursus sit amet dictum sit amet justo donec enim diam vulputate ut pharetra sit amet aliquam id diam maecenas ultricies mi eget mauris pharetra et ultrices neque ornare</div>
            <button class="button">Присоединиться</button>
        </div>
    </div>

    <div class="divider mt-5 mb-5"></div>

    <div class="row">
        <div class="col-12"><h2 class="text-center f-40 reason-title">Почему нужно заниматься</h2></div>
        <div class="col-lg-4 reason-box d-flex flex-column align-items-center">
            <div class="icon"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
            <div class="reason-title">Причина 1</div>
            <div class="reason-description text-center">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
        </div>

        <div class="col-lg-4 reason-box d-flex flex-column align-items-center">
            <div class="icon"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
            <div class="reason-title">Причина 1</div>
            <div class="reason-description text-center">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
        </div>

        <div class="col-lg-4 reason-box d-flex flex-column align-items-center">
            <div class="icon"><img src="images/icons/Reason-icon.svg" alt="icon"></div>
            <div class="reason-title">Причина 1</div>
            <div class="reason-description text-center">morbi tristique senectus et netus et malesuada fames ac turpis egestas integer eget aliquet nibh praesent tristique magna sit</div>
        </div>
    </div>
</div>