<div class="container">
    <div class="row">
        <div class="col-12">
            {{#if course.length}}
                {{#each course}}
                <div>
                    <h3>{{name}}</h3>
                    <p>{{description}}</p>
                    <p>{{duration}}</p>
                </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>