.form-bg{
    background-image: url("../images/parallax.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background: #0653b6;
    border-radius: 25px;
}

.nav-tabs .nav-link {
    color: #ffffff;
}

.tab-pane {
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form {
    padding: 5%;
}
.login-form h3 {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}
.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form .ForgetPwd{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}
.tab-shadow{

}
.auth-button{

}
.auth-button .nav-link{
    border: none;
}
.form-group label{
    color: #ffffff;
}
.form-control{
    background: rgba(255,255,255,.2);
    border: 1px solid transparent;
    transition: 0.4s all;
    color: #ffffff !important;
}
.form-control:hover{
    background: rgba(255,255,255,.0);
    border: 1px solid rgba(255,255,255,.4);
}
.form-control:focus{
    background: rgba(255,255,255,.0);
    border: 1px solid rgba(255,255,255,.4);
    box-shadow: none;
}
.form-control::placeholder{
    color: #ffffff;
}

.nav-link {
    display: block;
    padding: .3rem 1rem;
}
