.divider{
    width: 100%;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.box {
    max-width: 400px;
    max-height: 600px;
    border-radius: .25rem;
    background-color: #0653B6;
}

.box-green {
    max-width: 400px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    border-radius: .25rem;
    background-color: #009900;
}

.box-text-main{
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-text{
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-images{
    position: relative;
    border-radius: .25rem;
    max-width: 400px;
    max-height: 600px;
    left: 19px;
}

.box-images img {
    object-fit: cover;
    border-radius: .25rem;
    width: 100%;
    height: 100%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: #0653b6;
    border-radius: .25rem;
    color: #ffffff;
    font-size: 22px;
    border: none;
    transition: 0.4s;
}

.button:hover{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0px 5px 5px 5px rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.reason-box{
    border-radius: .25rem;
    height: 450px;
    box-shadow: 0px 10px 15px 7px rgba(255, 255, 255, 0.25);
    color: #000000;
    background: #ffffff;
}

.reason-icon{
    width: 60px;
}

.title-divider{
    width: 70%;
    height: 5px;
    background: #0653B6;
    border-radius: 2px;
}

#carousel2 .carousel-item{
    height: 750px;
}

#carousel2 > .carousel-control-next, #carousel2 > .carousel-control-prev {
    width: 9%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 60px;
    height: 60px;
}

#carousel2 .box-images {
    left: unset;
}

#carousel2 .box > .box-images, #carousel2 .box-green {
    left: 20px;
    top: 20px;
}

#carousel2 .box-images img.position-relative {
    z-index: 10;
    left: 0;
}

#carousel2 .carousel-indicators li {
    background-color: #ffffff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    opacity: 0.5;
}

#carousel2 .carousel-indicators li.active{
    background-color: #0653B6;
    opacity: 1;
}

.about-title{
    background: #0653B6;
    width: 70%;
    border-radius: .25rem;
}

.about-title-green{
    background: #009900;
    width: 70%;
    border-radius: .25rem;
}

.contacts{
    background: #000000;
}

.contacts-phone a{
    color: #ffffff;
    text-decoration: none;
}

.contacts-mail a{
    color: #ffffff;
    text-decoration: none;
}

.contacts-inst a{
    color: #ffffff;
    text-decoration: none;
}

footer{
    background: #000000;
}

/*Мобильная версия*/

.mobile-carousel-caption{
    z-index: 5;
    position: absolute;
    left: 30px;
    top: 50%;
}
.mobile-carousel-caption h5{
    font-weight: bold;
    width: 120px;
}
.mobile-carousel-caption p{
    font-weight: bold;
    width: 200px;
}
.mobile-carousel-item{
    height: 460px;
}
.slider-img{
    object-fit: cover;
}
.mobile-divider{
    width: 80%;
    height: 2px;
    background: #ffffff;
    border-radius: 2px;
}
.mobile-box{
    width: 100%;
    height: 100%;
    background: #0653B6;
    margin-bottom: 15px;
}
.mobile-box img{
    object-fit: cover;
    position: relative;
    left: 15px;
    top: 15px;
}
.mobile-button{
    width: 150px;
    height: 35px;
    background: #0653B6;
    box-shadow: 0px 4px 10px 2px rgba(6, 83, 182, 0.6);
    border-radius: .25rem;
    border: none;
    font-size: 14px;
    color: #ffffff;
}
.mobile-reason-box{
    flex: 0 0 auto;
    width: 100%;
    min-height: 310px;
    border-radius: .25rem;
    color: #000000;
    background: #ffffff;
}
.mobile-reason-box .icon{
    width: 50px;
    height: 50px;
}
.description-wrapper{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.horizontal-scroll{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.mobile-box-img img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-top: 10px solid #0653B6;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
.mobile-box-title{
    width: 140px;
    height: 30px;
    background: #0653B6;
    border-radius: .25rem;
}
.mobile-box-img-green img{
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-top: 10px solid #009900;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
.mobile-box-title-green{
    width: 140px;
    height: 30px;
    background: #009900;
    border-radius: .25rem;
}
.mobile-box-title-green:active{
    opacity: 0;
}
.mobile-box-before{
    width: 200px;
    height: 300px;
}
.blue-wrapper{
    width: 190px;
    height: 280px;
    background: #0653B6;
    border-radius: .25rem;
}
.blue-wrapper img{
    position: relative;
    top: 16px;
    left: 16px;
    border-radius: .25rem;
}
.mobile-box-after{
    width: 200px;
    height: 300px;
    position: relative;
    left: -46%;
    top: 6%;
}
.green-wrapper{
    width: 190px;
    height: 280px;
    background: #009900;
    border-radius: .25rem;
}
.green-wrapper img{
    position: relative;
    top: -16px;
    left: -16px;
    border-radius: .25rem;
}
.animation-top{
    animation: shuffleTop 2s;
}
.animation-down{
    animation: shuffleDown 2s;
}
@keyframes shuffleTop {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-150%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes shuffleDown {
    0% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(150%);
    }
    100%{
        transform: translateY(0);
    }
}

.mobile-result-img-1 {
    position: relative;
    background: url('../images/trainer.jpg') no-repeat;
    z-index: 2;
}

.mobile-result-img-1, .mobile-result-img-2 {
    width: 180px;
    height: 275px;
    background-size: contain;
    border-radius: .25rem;
}

.mobile-result-img-2 {
    background: #0653B6;
    left: 20px;
    top: 15px;
    z-index: 1;
}

.mobile-box-before .text-before, .mobile-box-before .text-after {
    position: absolute;
    width: 100%;
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
}

.mobile-box-before .text-before {
    bottom: -25px;
}

.mobile-box-before .text-after {
    top: -20px;
}

.click-image {
    position: absolute;
    left: 10px;
    top: 13px;
}

button:focus {
    outline: none;
}

a.mobile-button {
    padding: 4px;
    text-align: center;
    font-size: 16px;
}

/*карточки*/

.card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: .25rem;
    overflow: hidden;
}

.card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0653B6;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card:hover:before{
    clip-path: circle(300px at 80% -20%);
}

.card:after{
    content: '';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,25,0.05)
}

.card .imgBx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.card:hover .imgBx{
    top: 0%;
    transform: translateY(0%);

}

.card .imgBx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}

.card .contentBx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.card:hover .contentBx{
    height: 250px;
}

.card .contentBx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.card .contentBx a{
    display: inline-block;
    padding: 10px 20px;
    background: #0653B6;
    border-radius: .25rem;
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
}

.card:hover .contentBx a{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.75s;

}

.card .contentBx .card-description{
    display: inline-block;
    transform: translateY(50px);
    transition: 0.5s;
}
.card:hover .contentBx .card-description{
    transform: translateY(-10px);
}