@media (max-width: 1199px) {
    .f-32{
        font-size: 30px;
    }
    .contacts-inst{
        font-size: 28px;
    }
    .contacts-galery{
        width: 235px;
        height: 235px;
    }
    .edit-profile{
        width: 220px;
        padding: 0 10px;
        font-size: 16px;
    }
    .edit-profile-img{
        width: 220px;
        padding: 0 10px;
        font-size: 16px;
    }
    .save-profile{
        width: 220px;
        padding: 0 10px;
        font-size: 16px;
    }

}

@media (max-width: 991px) {
    .reason-box{
        width: 350px;
    }
    .box-text{
        height: 385px;
    }
    .f-32{
        font-size: 26px;
    }
    .about-title{
        width: 60%;
    }
    .about-title-green{
        width: 60%;
    }
    #carousel2 .carousel-item {
        height: 580px;
    }
    .button:hover{
        background-color: #0653b6;
        color: #ffffff;
        box-shadow: none;
        text-decoration: none;
    }
    nav .nav-link {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .f-26 {
        font-size: 20px;
    }
    .navbar{
        background: #000000;
    }
    .navbar-dark .navbar-toggler{
        color: #ffffff;
        border-color: #ffffff;
    }
    .navbar-dark .navbar-nav .nav-link{
        color: #ffffff;
    }
    nav .nav-link:hover {
        background: unset;
        box-shadow: unset;
    }
    nav{
        position: fixed;
    }
    .f-60{
        font-size: 38px;
    }
    .f-40{
        font-size: 28px;
    }
    .f-32{
        font-size: 22px;
    }
    .f-28{
        font-size: 22px;
    }
    .box-text-main{
        height: 460px;
        justify-content: unset;
    }
    .box-text{
        justify-content: space-between;
        height: 385px;

    }
    .card .imgBx{
        transform: translateY(-50%);
    }
    #carousel2 .carousel-item {
        height: 450px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 575px) {

}

@media (max-width: 380px) {

}